services:
  node:
    container_name: bhp-coauthor-checklist
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    command: npm run start