services:
  node:
    container_name: bhp-coauthor-checklist
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    command: tail -f /dev/null